/* Main app styles */
p {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}

#root {
	height: 100dvh;
}

.app {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: rgb(220, 220, 220);
}
