.card {
	position: relative;
	padding: 2em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: flex-start;
	gap: 1em;
	min-height: 300px;
	border-radius: 20px;
	background: linear-gradient(231deg, #004a61, #01303e);
	color: #fff8d3;
	max-width: 1000px;
	overflow: hidden;
	box-shadow: 1px 1.2px 4.9px rgba(0, 0, 0, 0.045), 1.7px 1.9px 7.3px rgba(0, 0, 0, 0.054), 2.7px 3.1px 10.2px rgba(0, 0, 0, 0.07), 4.6px 5.2px 14.4px rgba(0, 0, 0, 0.1),
		8px 9.1px 21.1px rgba(0, 0, 0, 0.149), 21px 24px 37px rgba(0, 0, 0, 0.23);
}

.card__image-wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	height: 100%;
	box-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.177), 0.1px 0.1px 0.2px rgba(0, 0, 0, 0.163), 0.2px 0.2px 0.4px rgba(0, 0, 0, 0.165), 0.6px 0.6px 1.7px rgba(0, 0, 0, 0.237),
		2px 2px 7px rgba(0, 0, 0, 0.51);
}

.card__image-wrapper::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	border-radius: 20px;
}

.card__content-wrapper {
	padding: 0em 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card__content-title {
	font-size: 2.5em;
	font-weight: bold;
	margin: 0 0 0em 0;
	line-height: 0.9em;
}

.card__content-subtitle {
	margin: 0 0 1em 0;
	font-size: 1.25em;
}

.card__content-description {
	font-size: 1em;
	width: 90%;
	max-width: 500px;
	line-height: 1.2em;
}

/* smaller than 800px */

@media (max-width: 800px) {
	.card {
		grid-template-columns: 1fr;
		padding: 1em;
	}
	.card__image-wrapper {
		max-height: 400px;
	}
	.card__content-wrapper {
		padding: 1em 0;
	}
	.card__content-title {
		font-size: 2em;
	}
	.card__content-subtitle {
		font-size: 1em;
	}
	.card__content-description {
		font-size: 0.9em;
	}
}

/* smaller than 600px */

@media (max-width: 600px) {
	.card__content-title {
		font-size: 1.5em;
	}
	.card__content-subtitle {
		font-size: 0.9em;
	}
	.card__content-description {
		font-size: 0.8em;
	}
}
